.footer{
    width: 100%;
    padding: 2.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
    z-index: -3;
}
.footer-details{
    width: 70%;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
   
}
.left{
    width:45%;
    min-width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    
    width: 50%;
    min-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    
}
