:root {
    --button-text-color-light: white;
    --button-text-color-dark: white;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --button-text-color: var(--button-text-color-dark);
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --button-text-color: var(--button-text-color-light);
    }
  }
  
.eachbtn1{
    color: var(--button-text-color);
  }


.projects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
    z-index: -3;
}
.projects-details{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.allproject{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:3rem;
}
.eachimage{
    width: 320px;
    height: 270px;
    margin-top: 15px;
}
.eachproject{
    border-radius: 8px;
    width: 350px;
    height: fit-content;
    border: 2px solid #14ff7f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    transition: all 0.3s ease;
    
}
.eachproject:hover{
    cursor: pointer;
    scale: 1.05;
    filter: drop-shadow(0 0 0.015rem #14f7ff);
}
.eachname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    margin: 0.5rem;
}
.eachinfo{
    text-align: center;
    letter-spacing: 0.1px;
    margin-top: 0rem;
}

.btnssec{
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eachbtn1{
    background-color: inherit;
    border: 1px solid #14ff7f;
    padding: 0.8rem 1.2rem;
    border-radius: 12px;
    margin-right: 1.5rem;
    letter-spacing: 0.2px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.eachbtn1:hover{
    background-color:#1ECD97;
    color:black;
    cursor: pointer;
    filter: drop-shadow(0 0 0.45rem #14f7ff);
}

@media (max-width:350px) {
  .eachproject{
    width: 100vw;
   
  }
}
