:root {
  --button-text-color-light: white;
  --button-text-color-dark: white;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-text-color: var(--button-text-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --button-text-color: var(--button-text-color-light);
  }
}
body {
  overflow: -moz-scrollbars-none;  
  -ms-overflow-style: none;
  scrollbar-width: none;          
}
.btn2{
  color: var(--button-text-color);
}
.hovered{
  background-color: white;
  color: black;
  font-size: 14px;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50%;
  z-index: 3; 
  transform: translate(-50%, -50%);
  position: fixed;
  top: -50px;
  pointer-events: none;
  border: none;
  font-weight: 500;

}

.hovered2{
  background-color: #14f7ff;
  color: black;
  font-size: 10rem;

  width: 110px;
  height: 110px;
  text-align: center;
  border-radius: 50%;
  z-index: 3; 
  transform: translate(-50%, -50%);
  position: fixed;
  top: -50px;
  pointer-events: none;
  border: none;
  font-weight: 500;
  mix-blend-mode: difference;
}

.hovered1{
  background-color: white;
  color: black;
  font-size: 14px;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50%;
  z-index: 3; 
  transform: translate(-50%, -50%);
  position: fixed;
  top: -50px;
  pointer-events: none;
  border: none;
  font-weight: 500;

}


.hovereffect{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hovernav:hover{
  color:#14f7ff;
}

body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-y: auto; */
}
.cursor{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  top: -50px;

  z-index: 3;
  border: 1.5px solid white;
  background-color:inherit;
  pointer-events: none;
  
  box-shadow: 0 0 0.55rem #14f7ff;
}

#root{
  width:100vw;
  height: 100vh;
}
.close-menu{
  display: none;
}
.mobile-menu{
  display: none;
}


.hii{
  text-decoration: none;
  color: white;
}
.app {
  position: relative;
  height: 100%;
  width: 100%;
}
.logo{
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  font-size: 26px;
  animation: slideright 0.8s ease forwards ;
  opacity: 0;
}
.hamburger-menu{
  display: none;
 
}
.hamburger-menu1{
  display: none;
  
}

.hero-section {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
 
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -3;
  filter: blur(6px);
  overflow: hidden;
  box-sizing: border-box;

}

.myimage{
  position: relative;
  top: 14%;
  width: 265x;
  height: 265px; 
  opacity: 0;
  animation: moveup 1s ease forwards;
  animation-delay: 0.6s;
  /* z-index: -2; */
  filter: drop-shadow(0 0 0.65rem rgba(20, 247, 255, 0.8));
  transition: all 0.6s ease;
}
.myimage:hover{
  cursor: pointer;
  scale: 1.04;
}
.main-nav{
  padding: 0.3rem 0rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.977);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.571);
  z-index: 1;
  overflow-x: hidden;
 
}
.navbar{
 width:70%; 
 /* z-index: 1; */
 z-index: 0;
 display: flex;
 justify-content:space-between;
 align-items: center;

}
.mid-nav{
  width: 400px;
  display: flex;
  letter-spacing: 0.6px;
  font-size: 16.5px;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  animation: slideup 0.8s ease forwards;
  animation-delay: 0.2s;
 
}
.hovernav:hover{
  cursor: pointer;
}
.right-nav{
  padding: 0.8rem;
  border-radius: 25px;
  background-color: inherit;
  font-weight: 300;
  opacity: 0;
  animation: slideleft 0.8s ease forwards;
  animation-delay: 0.4s;
}
.right-nav:hover{
  color: black;
  background-color: rgba(240, 248, 255, 0.959);
  transition:all 0.4s;
  cursor: pointer;
}
.hero-details{
  width: fit-content;
  height: max-content;
  position: relative;
  top: -10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: moveleft 1.2s ease forwards;
  animation-delay: 0.9s;
}
.name{
  font-size: 2rem;
  text-align: center; 
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  
}
.name1{
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.desc{
  max-width: 550px;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:white;
}
.btns{
  height: fit-content;
  margin-top:2rem;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap:wrap;
  gap: 30px;
  
}

.btn1{
  border:1px solid blanchedalmond;
  padding: 1rem;
  border-radius: 25px;
  background: linear-gradient(267deg, #DA7C25 0.46%, #B923E1 102.06%);
  letter-spacing: 0.8px;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.btn2{
  border: 1px solid blanchedalmond;
  padding: 1rem 1.5rem;
  border-radius: 25px;
 
  background-color: inherit;
  letter-spacing:0.5px;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition:all 0.3s;
}
.btn1:hover{
  cursor: pointer;
}
.btn2:hover{
  cursor: pointer;
  background-color: blanchedalmond;
  color: black;
  
}
.name span{
  background: linear-gradient(270deg, #DF8908 10%, #B418FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}
.role{
  background: linear-gradient(270deg, #DF8908 10%, #B418FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
 
}

@keyframes slideright{
  0%{
     transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideup{
  0%{
    transform: translateY(-100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideleft{
  0%{
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveup{
  0%{
    transform: translateY(-100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes moveleft{
  0%{
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@media (max-width:440px) {
  
    .myimage{
      position: relative;
      top: 12%;
      width: 170px;
      height: 170px; 
      opacity: 0;
      animation: moveup 1s ease forwards;
      animation-delay: 0.6s;
      z-index: -2; 
    
  }
  .name{
    font-size: 1.7rem;
    text-align: center; 
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
  }
  .name1{
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 0.5rem;
  }
  .desc{
    margin-top: 0.2rem;
    max-width: 550px;
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }

}
@media (max-width:1170px) {
  .myimage{
    position: relative;
    top: 11.7%;
    width: 250px;
    height: 250px; 
    opacity: 0;
    animation: moveup 1s ease forwards;
    animation-delay: 0.6s;
    z-index: -2; 
  }
}
@media (max-width:960px) {
  .main-nav{
    justify-content: space-between;
    
  }
  .mid-nav{
    display: none;
  }
  .right-nav{
    display: none;
  }
  .hamburger-menu, .hamburger-menu1 {
    display: block;
    /* font-size: 2.5rem; */
    z-index: 3;
  }
  .myimage{
    position: relative;
    top: 10%;
    width: 250px;
    height: 250px; 
    opacity: 0;
    animation: moveup 1s ease forwards;
    animation-delay: 0.6s;
    z-index: -2; 
  
}
  .close-navbar {
    width: 3rem;
    height: 3rem;
    /* position: fixed; */
    /* right: 1.7rem; */
    z-index: 3;
    scale: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-navbar {
    width: 2rem;
    height: 2rem;
    height: 100%;
    width: 40px; 
    z-index: 3;
    scale: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu{
    width: 100%;
    position: fixed;
    top: 3.3rem;
    height: 15rem;
    z-index: 1;
    background-color: #1e1c1c;
    color: #fff;
    display: flex;
    flex-direction: column;
    
    z-index: 1000;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
  }
  .links1{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    row-gap: 0.5rem;
    z-index: 1;
    height: max-content;
  }

  .hii1{
    color: #14f7ff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-bottom: 0.1px solid #14f7ff52;
    background-color: #1e1c1c;
    letter-spacing: 0.7px;
    z-index: 1;
  }
}
@media (max-width:700px) {
  .myimage{
    position: relative;
    top: 11.5%;
    width: 235px;
    height: 235px; 
    opacity: 0;
    animation: moveup 1s ease forwards;
    animation-delay: 0.6s;
    z-index: -2; 
  
}
  .name{
    font-size: 1.6rem;
  }
  .name1{
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 0.5rem;
  }
}
@media (max-width:470px) {
  .name{
    font-size: 1.4rem;
  }
  .name1{
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 0.5rem;
  }
}
@media (max-width:330px){
  .hero-section{
    height: max-content;
  }
  .hero-details{
    width: fit-content;
    height: max-content;
    position: relative;
    top: 4.5rem;
    
  }
  .btn2{
    scale: 0;
  }
  .myimage{
    top: 3.5rem;
  }
  .name{
    font-size: 18px;
  }
  .name1{
    font-size: medium;
  }
  .desc{
    font-size: medium;
  }
}
